* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Logo */
.title-image {
    height: 60px;
    position: absolute;
    margin-top: 30px;
}

/* Head color Toboolist */

.main-header {
    background-color: #b9e5ff;
    padding: 20px 20px;
}


/* Text  */

.container-button {
    padding: 20px;
    padding-bottom: 2px;
}

.container-button2 {
    padding: 20px;
    padding-top: 0px;
}

.box-button {
    max-width: 800px;
    padding: 25px;
    background-color: #33b2f7;
    border-radius: 5px;
}

.box-list {
    max-width: 800px;
    padding: 25px;
    background-color: #33b2f7;
    border-radius: 10px;
}